@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap");

.card-1,
.card-2,
.about-card,
.services-card,
.payment-card,
.sampleArt-card {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 0.3px solid white;
}
.about-card {
  cursor: pointer;
}
.service-innercard {
  background: linear-gradient(135deg, #4affa3, #90ee90);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: #a020f0 0px 19px 38px, #a020f0 0px 15px 12px, #a020f0 0px 5px 15px;
}
.card-1:hover,
.card-2:hover {
  box-shadow: #00ff00 0px 5px 15px;
  transition: 0.5s;
}
.card-button {
  color: #00ff00;
  border-radius: 20px;
  box-shadow: #00ff00 0px 3px 8px;
}
.services-button {
  color: #00ff00;
  border-radius: 10px;
  box-shadow: #00ff00 0px 3px 8px;
  font-size: 20px;
  height: 50px;
  width: 200px;
}

.card-h3 {
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}
.app-button {
  background: linear-gradient(43deg, #77a1d3 30%, #79cbca 30%, #e684ae 70%);
  color: #00ff00;
  cursor: pointer;
}
.app-button:hover {
  background: linear-gradient(43deg, #e684ae 70%, #79cbca 30%, #77a1d3 30%);
}
.nav-li,
.app-row1-h3,
.footer-p,
.footer-h3 {
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.service-card-col-h1 {
  background: linear-gradient(43deg, #ec008c 40%, #9400d3 60%);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}
.nav-li:hover {
  color: #00ff00;
}
.card-about-h1 {
  background: linear-gradient(43deg, #ec008c 40%, #fc6767 60%);
  -webkit-background-clip: text;
  color: transparent;
}

.nav-ul {
  animation: navul 0.5s linear 0.5s;
}
@keyframes navul {
  from {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
  125% {
    transform: translateY(-20px);
  }
}
.navPopUp {
  animation: navHover 0.2s linear;
}

@keyframes navHover {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-10px);
  }
}
@media screen and (max-width: 576px) {
  .nav-ul {
    margin-top: 14px;
  }
  .about-container,
  .services-container {
    margin-left: 55px;
  }
  .paynow-link {
    margin-left: 100px;
  }
}

@media screen and (min-width: 576px) {
  .nav-li {
    font-size: 25px;
  }
}
@media (orientation: landscape) {
  .main-col-2 {
    margin-left: 130px;
    margin-top: 50px;
  }
}
